<%- include('common/header', {title: 'Order Report'}) %>

<form target="_blank" class="form-horizontal dont-print" action="/order" method="get">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="input-group"><span class="input-group-prepend">
                    <button class="btn btn-primary" type="submit">
                        <span class="cil-magnifying-glass"> </span> &nbsp;Search
                    </button>
                </span>
                <input name="id" class="form-control" id="input1-group2" type="text" name="input1-group2"
                    placeholder="Order ID">
            </div>
        </div>
    </div>
</form>

<div class="col-lg-12">
    <%- include('components/line_chart', {
            title: 'Number of Orders per day ',
            id: 'order_chart', 
            height: '700px',
            color: '#009688',
            data:  orders,
        }) %>
</div>


<%- include('common/footer') %>