<%- include('common/header', {title: 'Product Sales Report'}) %>

<br>
<h2>Top 10 trending products</h2>
<br>
<div class="column">

    <div class="row-lg-6">
        <%- include('components/table', {
            title: 'Product Table',
            rows: productItemCount,
            columns: 4,
            headers: ['Procut ID', 'Product Name', 'Quantity','Income'],
            rawhtml: [false, false, false,false], // Whether each column is raw html(true) or plain text(false)
            data: productItems
        }) %>
    </div>

    <div class="row-lg-6">
        <%- include('components/pie_chart', {
            title: 'Pie Chart',
            id: 'piechart_product', // Unique ID for each chart
            height: '400px',
            data:  productItemsWithQuantity,
        }) %>
    </div>
</div>

<%- include('common/footer') %>