<div class="row text-white text-center" style="height: 70mm;">
    <div class="col-8 pr-0">
        <img style="object-fit: cover;height: 70mm; width:100%"
            src="https://w.wallhaven.cc/full/8x/wallhaven-8x7x7k.png">
    </div>
    <div class="col-4 p-3 align-content-around" style="background-color: #011A42;">
        <h3 class="mt-4">Neomerce Inc</h3>
        <div class="mb-3">
            <small>
                Cecilia Chapman
                711-2880 Nulla St.
                Mankato Mississippi 96522
            </small>
        </div>
        <h5><%= title %></h5>

        <p class="mt-4" style="font-size: 8px;">
            Generated on 2019/2/1 at 4:45
        </p>

    </div>
</div>