<footer class="c-footer bg-transparent">
    <div class="mr-auto">Neomerce© 2019 teampulse.</div>
    <div>Computer generated report on&nbsp;<%= new Date() %></div>
</footer>
</main>
</div>
</div>

<!-- Optional JavaScript -->
<!-- Popper.js first, then CoreUI JS -->
<script src="/js/pace.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="https://unpkg.com/@coreui/coreui@3.0.0-beta.1/dist/js/coreui.min.js"></script>
</body>

</html>