<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/fav.png">
    <meta name="author" content="teampulse">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        @media print {
            .dont-print {
                display: none;
            }

            #A4 {
                width: auto;
                min-height: auto;
                -webkit-print-color-adjust: exact;
            }
        }

        @media screen {
            #A4 {
                width: 210mm;
                min-height: 297mm;
            }
        }

        body::-webkit-scrollbar {
            width: 5px;
        }

        body::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px #ccc;
            -webkit-box-shadow: inset 0 0 2px #ccc;
        }

        body::-webkit-scrollbar-thumb {
            background-color: #343A40;
            outline: 1px solid #000
        }
    </style>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top dont-print">
        <a class="navbar-brand" href="#"><%= title%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link">Neomerce Reporting Tool</a>
                </li>
            </ul>
            <button onclick="printDiv()" class="btn btn-outline-light my-2 my-sm-0" type="submit"><i
                    class="fa fa-print"></i> Print</button>
        </div>
    </nav>

    <div class="dont-print" style="height: 72px;"></div>

    <section id="A4" class="mx-auto bg-white" style="overflow-x: hidden;">

        <%- include('banner', {title}) %>