<div class="c-sidebar c-sidebar-dark c-sidebar-show">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Neomerce Report Platform</li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
                <i class="c-sidebar-nav-icon cil-speedometer"></i>
                Product Sales Report
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
                <i class="c-sidebar-nav-icon cil-speedometer"></i>
                Some Other Report
            </a>
        </li>

        <li class="c-sidebar-nav-item mt-auto">
            <a class="c-sidebar-nav-link c-sidebar-nav-link-success" href="https://coreui.io">
                <i class="c-sidebar-nav-icon cil-cloud-download"></i> Download CoreUI</a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link c-sidebar-nav-link-danger" href="https://coreui.io/pro/">
                <i class="c-sidebar-nav-icon cil-layers"></i> Try CoreUI
                <strong>PRO</strong>
            </a>
        </li>
    </ul>
</div>