<div class="c-sidebar c-sidebar-dark c-sidebar-show">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Neomerce Report Platform</li>
        <%for (t of [
            ['Product Sales Report', '/report/sales'], 
            ['Some Other Report', '/report/other'],
            ['Example Report', '/report/example']
        ]) {%>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link <%= (t[0] === title) ? 'c-active' : ''%>" href="<%= t[1]%>">
                <i class="c-sidebar-nav-icon cil-speedometer"></i>
                <%=t[0] %>
            </a>
        </li>
        <%}%>
    </ul>
</div>