<div class="c-sidebar fixed c-sidebar-dark c-sidebar-show mt-auto"
    style="height: 100vh; position: fixed; padding-top: 56px;">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Neomerce Report Platform</li>
        <%for (t of [
            ['Product Sales Report', '/report/sales'], 
            ['Some Other Report', '/report/other'],
            ['Example Report', '/report/example']
        ]) {%>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link <%= (t[0] === title) ? 'c-active' : ''%>" href="<%= t[1]%>">
                <i class="c-sidebar-nav-icon cil-speedometer"></i>
                <%=t[0] %>
            </a>
        </li>
        <%}%>
        <li class="c-sidebar-nav-item mt-auto">
            <a type="button" onclick="window.print()" class="c-sidebar-nav-link c-sidebar-nav-link-success">
              <i class="c-sidebar-nav-icon cil-print "></i> Print
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a type="button" href="/" class="c-sidebar-nav-link c-sidebar-nav-link-danger">
              <i class="c-sidebar-nav-icon cil-exit-to-app"></i> Exit
            </a>
        </li>
    </ul>
</div>