<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/fav.png">
    <meta name="author" content="teampulse">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Neomerce</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-flash.min.css">
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/window-date-picker.css">
    <link rel="stylesheet" href="/css/autocomplete.css">

    <style>
        html {
            overflow-x: hidden;
            overflow-y: scroll;
        }

        body::-webkit-scrollbar {
            width: 5px;
        }

        body::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px #ccc;
            -webkit-box-shadow: inset 0 0 2px #ccc;
        }

        body::-webkit-scrollbar-thumb {
            background-color: #454277;
            outline: 1px solid #000
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            box-shadow: 0 0 0 1000px white inset !important;
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }


        body.modal-open {
            overflow: visible;
        }
    </style>
</head>