<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/">Neomerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">

                        <% if (loggedIn) { %>
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                        href="/category?category=760aa25b-f984-4a3d-9c5d-d1313f49fe08">
                                        Electronics
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="/category?category=e802a9e5-ba12-4ba1-8bb3-007bff45caf6">
                                        Toys & Games
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="">
                                        Profile
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/user/logout">
                                        Log out
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <%} else { %>

                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                        href="/category?category=760aa25b-f984-4a3d-9c5d-d1313f49fe08">
                                        Electronics
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="/category?category=e802a9e5-ba12-4ba1-8bb3-007bff45caf6">
                                        Toys & Games
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>

                        <% } %>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between" action="/category" method="get">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here" name="query">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>