<div class="container mb-5" id="category_view">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">

            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <%# Main category tree goes here %>
                    <% for (let category of categories) {%>
                    <%- include('_category_tree', {category, depth: 0}) %>
                    <% }; %>
                </ul>
            </div>

            <%# Sorting %>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="d-flex flex-wrap align-items-center align-content-center">
                    <select style="display: none;">
                        <option value="0">Price Ascending </option>
                        <option value="0">Price Descending </option>
                    </select>
                    <div class="nice-select wide my-3" tabindex="0"><span class="current">Price Ascending</span>
                        <ul class="list">
                            <li class="option"
                                v-on:click="products.sort((a,b) => (a.price > b.price) ? 1 : ((b.price > a.price) ? -1 : 0))"
                                value="0">
                                Price Ascending
                            </li>
                            <li class="option"
                                v-on:click="products.sort((a,b) => (a.price > b.price) ? -1 : ((b.price > a.price) ? 1 : 0))"
                                value="1">
                                Price Descending
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <%# Price filter %>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <span>LKR&nbsp;</span>
                            <div id="lower-value"></div>
                            <div class="to">to</div>
                            <span>LKR&nbsp;</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">

            <!-- Start Filter Bar -->
            <div class="filter-bar text-center p-2">
                <h2 class="text-white">Search Results</h2>
            </div>
            <!-- End Filter Bar -->

            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">

                    <!-- single product -->
                    <div class="col-lg-4 col-md-6" v-for="product in products" v-if="product.show">
                        <div class="single-product">
                            <img class="img-fluid" v-bind:src="product.image" alt="">
                            <div class="product-details">
                                <h6>{{product.title}} <span style="color: #ff6c00;">[LKR&nbsp;{{product.price}}]</span>
                                </h6>
                                <a href="/item/show"
                                    class="genric-btn primary-border medium btn-block text-center">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>