<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Nike New <br>Collection!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Nike New <br>Collection!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Delivery Service</h6>
                    <p>Island wide Delivery Service</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Flexible return plicy</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Contact us anytime</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Pay with secure sevices</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <a href="/category?category=760aa25b-f984-4a3d-9c5d-d1313f49fe08">
                    <div class="single-deal">
                        <div class="overlay"></div>
                        <img class="img-fluid w-100" style="height: 400px; object-fit: cover;"
                            src="https://www.fairfirst.lk/wp-content/uploads/2016/11/electronic-equip-head.jpg" alt="">
                        <div class="deal-details">
                            <h6 class="deal-title">Electronic Equipment</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <a href="/category?category=760aa25b-f984-4a3d-9c5d-d1313f49fe08">
                    <div class="single-deal">
                        <div class="overlay"></div>
                        <img class="img-fluid w-100" style="height: 400px; object-fit: cover;"
                            src="https://internetofbusiness.com/wp-content/uploads/2017/11/toys-2165123_640-640x463.jpg"
                            alt="">
                        <div class="deal-details">
                            <h6 class="deal-title">Toys & Games</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<section class="section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Latest Products</h1>
                    <p>Checkout these most recent products added to our store.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <% for (item of products) {%>
            <!-- single product -->
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                <div class="single-related-product d-flex">
                    <a href="#"><img style="width: 70px; height: 70px; object-fit: contain;" src="<%= item.image_url %>"
                            alt=""></a>
                    <div class="desc">
                        <a href="/item/show/<%= item.product_id %>"
                            class="title"><%= item.title.substring(0, 25) + "..." %></a>
                        <div class="price">
                            <h6>LKR <%= item.min_selling_price %></h6>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>
<!-- end product Area -->