<section id="login_form" class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Save your cart and track your orders easily.</p>
                        <a class="primary-btn" href="/user/register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/user/login" method="post" id="contactForm" @submit="checkForm"
                        novalidate>
                        <% if (error != null){ %>
                        <div class="col-md-12 form-group text-left pb-0 mb-0">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: </strong> <%=error.replace("error: ","")%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <% }%>

                        <div v-if="errors.length" class="col-md-12 form-group text-left mt-0">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Please correct the following problem(s):</strong> <br />
                                <div class="ml-4">
                                    <li v-for="error in errors"> {{ error }}</li>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                v-model="email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" v-model="password"
                                placeholder="Password">
                        </div>

                        <input value="<%= redirect ? redirect : '/'%>" name="redirect" hidden>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>