<section class="login_box_area section_gap container" id="register_form">
    <div class="card shadow p-3">
        <div class="card-body">
            <h2 class="text-center mb-5">Register</h2>
            <form class="row needs-validation" action="/user/register" method="post" @submit="checkForm" novalidate>
                <% if (error != null){ %>
                <div class="col-md-12 form-group mb-0">
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                        <strong>Error: </strong> <%=error.replace("error: ","")%>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <% }%>

                <div class="col-md-12 form-group" novalidate>
                    <input type="email" class="form-control p-3" name="email" placeholder="Email (username@site.com)"
                        v-model="email">
                </div>

                <div class="col-md-6 form-group">
                    <input type="password" class="form-control p-3" name="password" v-model="password"
                        placeholder="Password">
                </div>

                <div class="col-md-6 form-group">
                    <input type="password" class="form-control p-3" name="retype-password" v-model="retype_password"
                        placeholder="Re-type password">
                </div>

                <div class="col-md-6 form-group">
                    <input type="text" class="form-control p-3" name="firstName" v-model="firstName"
                        placeholder="First Name">
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control p-3" name="lastName" placeholder="Last Name"
                        v-model="lastName">
                </div>

                <div class="col-md-12 form-group">
                    <input type="text" class="form-control p-3" name="addressLine1" v-model="addressLine1"
                        placeholder="Address Line 01">
                </div>

                <div class="col-md-12 form-group">
                    <input type="text" class="form-control p-3" name="addressLine2" v-model="addressLine2"
                        placeholder="Address Line 02">
                </div>

                <div class="col-md-6 form-group">
                    <input type="text" class="form-control p-3" name="telephoneNumber" v-model="telephoneNumber"
                        placeholder="Telephone Number (XXXXXXXXXX)">
                </div>

                <div class="col-md-6 form-group ui-widget">
                    <input type="text" class="form-control p-3" name="city" v-model="city" placeholder="City">
                </div>

                <div class="col-md-6 form-group">
                    <input type="text" class="form-control p-3" name="postalCode" v-model="postalCode"
                        placeholder="Postal Code">
                </div>

                <div class="col-md-6 form-group">
                    <input id="birthday" class="form-control p-3" placeholder="Birthday" name="birthday">
                    <div id="yellow-picker" class="wdp-blue"></div>
                </div>

                <div v-if="errors.length" class="col-md-12 form-group">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Please correct the following problem(s):</strong> <br />
                        <div class="ml-4">
                            <li v-for="error in errors"> {{ error }}</li>
                        </div>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <hr class="my-5" />

                <div class="col-md-12 form-group text-right">
                    <div class="checkout_btn_inner float-left d-none d-md-flex   align-items-center">
                        <a class="gray_btn" href="/user/login">I Already have an Account</a>
                    </div>
                    <div class="checkout_btn_inner d-flex align-items-center float-right">
                        <button class="primary-btn" name="submit" type="submit" style="border: none;">Register
                            Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <script>
    /*Check availability of the email*/
    const checkAvailability = () => {
        const value = document.getElementById('email').value;
        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (document.getElementById('label-id')) {
                    if (xhttp.responseText === 'Valid') {
                        document.getElementById('label-id').remove()
                    } else {
                        document.getElementById('label-id').innerHTML = ''
                        document.getElementById('label-id').innerHTML = xhttp.responseText
                    }
                } else {
                    const newlabel = document.createElement('Label')
                    newlabel.setAttribute('for', 'email')
                    newlabel.setAttribute('id', 'label-id')

                    if (xhttp.responseText === 'Valid') {

                    } else {
                        newlabel.innerHTML = ''
                        newlabel.innerHTML = xhttp.responseText
                        document.getElementById('email-div').appendChild(newlabel)
                        document.getElementById('label-id').style.color = 'red'
                    }
                }
            }
        };

        if (value) {
            xhttp.open("GET", "/user/check/" + value, true);
            xhttp.send();
        } else {
            if (document.getElementById('label-id')) {
                document.getElementById('label-id').remove()
            }
        }
    }
</script> -->